<header class="header">
    <div class="wrap-header">
        <div class="wrap-header-content">
            <div class="logo">
                <a class="routeHome" href=""><img src="./image/logo.png" alt=""></a>
            </div>
            <nav class="nav-link">
                <ul class="list-nav-link">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/about">About me</a></li>
                    <li><a href="#/my-program">my program</a></li>
                    <li class="active"><a href="#/calorie-calculator">CALORIE CALCULATOR</a></li>
                    <li><a href="#/contact">Contact</a></li>

                </ul>
            </nav>
            <div class="member-area">
                <a href="">member area</a>
            </div>
        </div>
        <section class="container">
            <div class="content-wellcome">
                <div class="wellcome-left">
                    <div class="wellcome-content">
                        <img  class="logo" src="./image/logo.png" alt="">
                        <h1>CALORIE <br> CALCULATOR</h1>
                    </div>
                </div>
                <div class="wellcome-right">
                    <img src="./image/wellcome-right-img.webp" alt="">
                </div>
            </div>
        </section>
        <div class="wrap-footer"></div>
    </div>
</header>
<p>{{current}}</p>